body {
	font: 1rem arial, Helvetica, sans-serif;
}

header {
	background-color: #999999;
	color: #ffffff;
	position: absolute;
	width: 100%;
}

h1{
	font-size: 1.2rem;
	font-weight: bold;
	position: relative;
	float: left;
}

nav {
	position: relative;
	float: right;
}

ul {

}

li {
	float: left;
}

form {
	position: relative;
	top: 2rem;
}

footer {
	font-size: .75rem;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #eeeeee;
	width: 100%;
}